
#projects-container{
    /* background-color: #EBEBEB; */
    color: rgb(73, 73, 73);
    min-height: 500px;
}
#projects-container h2{
    text-align: center;
    padding: 25px;
    font-weight: 200;
}


/* STYLING FOR THE INDIVIDUAL PROJECTS (CAROUSEL) */
.projects{
    /* background-color: rgb(243, 243, 243); */
    width: 80%;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-card{
    background-color: rgb(238, 238, 238);
    width:270px;
    color: rgb(94, 94, 94);
    margin-bottom: 20px;
}
.image-container{
    width: 270px;
    height: 250px;
    overflow: hidden;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.project-link{
    background-color: rgba(0, 0, 0, 0.616);
    margin: 0;
    height: 100%;
    text-align: center;
    font-weight: 800;
    display: flex;
    transform: translateY(250px);
    place-items: center;
    justify-content: center;
    font-size: 5em;
    transition: .5s ease-in-out;
}

.image-container:hover > .project-link{
    transform: translateY(0);
}

.project-title{
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.project-description{
    padding: 12px;
    text-align: justify;
    line-height: 1.4;
    color: rgb(110, 110, 110);
}

/* project background images */
.image-one{
    background-image: url("../images/projects/wine-app-2.png");
    background-position: center;
}
.image-two{
    background-image: url("../images/projects/food-recipe.png");
    background-position: center;
}
.image-three{
    background-image: url("../images/projects/chisme-app.png");
}

.image-four{
    background-image: url("../images/projects/garage-app.png");
}

.image-five{
    background-image: url("../images/projects/jokez-app.png");
}